# ASCII git-ignore TAB4 CRLF
# ...
.vscode
magic/.vscode
# Website Temporary Files
doc/www.unisym.org/_*
doc/www.unisym.org/.*
doc/www.unisym.org/zh
# Locale Makefiles : code `make list` to generate
lib/make/c*
# .Net Class Library
witch/DotNet/udotnet/.vs
witch/DotNet/udotnet/bin
witch/DotNet/udotnet/obj
# Python
*.pyc
# Keil
DebugConfig
*.uvguix*
