# ASCII git-ignore TAB4 CRLF
# ...
.vscode
magic/.vscode
# Document
*.pdf
*.out
*.gz
*.aux
*.log
*.toc
# Website Temporary Files
doc/www.unisym.org/_*
doc/www.unisym.org/.*
doc/www.unisym.org/zh
# Locale Makefiles : code `make list` to generate
lib/make/c*
# .Net Class Library
lib/dotNet/udotnet/.vs
lib/dotNet/udotnet/obj
# Python
*.pyc
# Rust
lib/Rust/unisym/target/
Cargo.lock
# Keil
DebugConfig
*.uvgui*
# Huge-interval-sources
_asm_inst_bind.c
_asm_dasm_bind.c
_asm_inst_bin.c
