# ASCII git-ignore TAB4 CRLF
.vscode
magic/.vscode
# Document
*.pdf
*.out
*.gz
*.aux
*.bbl
*.blg
*.log
*.toc
*.run.xml
# Locale Makefiles : code `make list` to generate
lib/make/c*
lib/c/auxiliary/*
# .Net Class Library
lib/dotNet/udotnet/.vs
lib/dotNet/udotnet/obj
lib/dotNet/TestConsole/bin
lib/dotNet/TestConsole/obj
# Python
*.pyc
# Rust
lib/Rust/unisym/target/
Cargo.lock
# Keil
DebugConfig
*.uvgui*
